<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instagram.jsonbenchmark.app"
    android:versionCode="100"
    android:versionName="1.0.0"
    android:installLocation="auto"
    >

  <uses-feature
      android:name="android.hardware.screen.portrait"
      android:required="false"
      />

  <application
      android:allowBackup="false"
      android:label="IgBenchmark"
      android:hardwareAccelerated="true"
      android:allowTaskReparenting="true"
      >

      <activity
          android:name="com.instagram.common.json.app.MainActivity"
          android:screenOrientation="portrait"
          android:configChanges="keyboardHidden|orientation|screenSize"
          android:windowSoftInputMode="adjustNothing"
          android:clearTaskOnLaunch="false"
          android:launchMode="singleTop"
          android:alwaysRetainTaskState="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>

      <activity
          android:name="com.instagram.common.json.app.benchmark.BenchmarkActivity"
          android:screenOrientation="portrait"
          android:configChanges="keyboardHidden|orientation|screenSize"
          android:windowSoftInputMode="adjustNothing"
          android:clearTaskOnLaunch="false"
          android:launchMode="singleTop"
          android:alwaysRetainTaskState="true"
          >
      </activity>

      <activity android:name="com.instagram.common.json.app.playground.PlaygroundActivity" />

  </application>

</manifest>
